---
import Share from "./Share";
import CopyChapterContent from "./CopyChapterContent";
import type { TranslationCode } from "../data/codes";
import Icon from "astro-icon";

export interface Props {
  colOnly?: boolean;
  chapterHead: string | number;
  chapterHeadId: string | number;
  translationCode: TranslationCode;
  chapterNumber: number;
  chapterId: string;
}

const {
  colOnly,
  chapterHead,
  chapterHeadId,
  translationCode,
  chapterNumber,
  chapterId,
} = Astro.props;
---

<div
  class={`c group flex flex-col gap-4 ${
    !colOnly && "sm:gap-0 sm:grid sm:grid-cols-[3fr,13fr]"
  } w-full`}
>
  <div class="relative col-start-1 row-start-1">
    <div
      class={`flex justify-between gap-6 col-start-1 row-start-1 sticky top-2 h-min items-center ${
        !colOnly ? "sm:flex-col sm:max-w-[10ch]" : "sm:max-w-none"
      }`}
    >
      <h2 id={`${chapterHeadId}`} class="text-2xl font-thin">
        <a
          class="outline-none focus-visible:ring-2 ring-zinc-500 ring-offset-zinc-100 dark:ring-offset-zinc-900 ring-offset-2"
          href={`#${chapterHeadId}`}
          >{chapterHead}
        </a>
      </h2>
      <ul
        class={`flex items-center sm:items-start gap-4 sm:opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity ${
          !colOnly && "sm:flex-col"
        }`}
      >
        <li>
          <a
            class="flex -m-2 p-2 text-zinc-500 hover:text-zinc-900 dark:text-zinc-600 dark:hover:text-zinc-200 transition-colors outline-none focus-visible:ring-2 ring-zinc-500 ring-offset-zinc-100 dark:ring-offset-zinc-900 ring-offset-2"
            href={`/compare/${chapterNumber}`}
            title={`See all chapter ${chapterNumber} translations`}
          >
            <Icon
              class="inline h-[15px] w-[15px] transform translate-y-[1px]"
              name="radix-icons:view-vertical"
            />
          </a>
        </li>
        <li>
          <Share
            client:visible
            chapterNumber={chapterNumber}
            translationCode={translationCode}
          />
        </li>
        <li>
          <CopyChapterContent client:visible contentId={chapterId} />
        </li>
      </ul>
    </div>
  </div>
  <div
    id={chapterId}
    class="col-start-2 flex flex-col gap-4 w-full mdContainer"
  >
    <slot />
  </div>
</div>
<style is:global>
  .mdContainer > p,
  ul {
    @apply first:first-letter:text-2xl first:first-letter:font-light max-w-prose;
  }
</style>
