---
import Share from "./Share";
import CopyChapterContent from "./CopyChapterContent";
import type { TranslationCode } from "../data/codes";

export interface Props {
  chapterHead: string;
  translationCode: TranslationCode;
  chapterNumber: string;
  chapterId: string;
}

const { chapterHead, translationCode, chapterNumber, chapterId } = Astro.props;
---

<div
  class="c group flex flex-col gap-4 sm:gap-0 sm:grid sm:grid-cols-[3fr,13fr] w-full"
>
  <div class="relative col-start-1 row-start-1">
    <div
      class="flex sm:flex-col gap-6 col-start-1 row-start-1 sticky top-2 h-min"
    >
      <h2 id={chapterHead} class="text-2xl font-thin">
        <a href={`#${chapterHead}`}>{chapterHead}</a>
      </h2>
      <ul
        class="flex sm:flex-col items-center sm:items-start gap-4 sm:opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity"
      >
        <li>
          <Share
            client:load
            chapterNumber={chapterNumber}
            translationCode={translationCode}
          />
        </li>
        <li>
          <CopyChapterContent client:load contentId={chapterId} />
        </li>
      </ul>
    </div>
  </div>
  <div
    id={chapterId}
    class="col-start-2 flex flex-col gap-4 w-full mdContainer"
  >
    <slot />
  </div>
</div>
<style is:global>
  .mdContainer > p,
  ul {
    @apply first:first-letter:text-2xl first:first-letter:font-light max-w-prose;
  }
</style>
