---
import "@fontsource/roboto-slab/variable.css";
import { SelectionPopover, BookmarksList, Sheet } from "../components/SelectionPopover";
import { TanstackQueryProvider } from "../components/TanstackQuery";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<html lang="en" class="scroll-smooth antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>

    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/og.jpg" />
    <meta name="twitter:image" content="/og_twitter.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#18181b" />
    <meta name="theme-color" content="#18181b" />
    <script async src="https://analytics.qui.gg/script.js" data-website-id="47e2be86-a46e-4932-957a-966289564987"></script>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class="min-h-screen relative bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-200 scrollbar-thin scrollbar-track-zinc-200 scrollbar-thumb-zinc-400 dark:scrollbar-track-zinc-900 dark:scrollbar-thumb-zinc-700"
  >
    <div class="overlay"></div>
    <SelectionPopover client:visible>
        <slot />
      </SelectionPopover>
      <div class="fixed bottom-0 left-4">
        <Sheet client:only />      </div>
    <style>
      @supports (font-variation-settings: normal) {
        body {
          font-family: "RobotoSlabVariable";
          font-variation-settings: "wght" 400;
        }
      }

      .overlay {
        pointer-events: none;
        position: absolute;
        inset: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-image: url("/img/grain.png");
        background-position: 0px 0px;
        background-size: 250px;
        opacity: 0.4;
      }
    </style>
  </body>
</html>
